raw-videos/
extracted-frames/
sampled-frames/
sampled-frames.zip
*.zip
reports/*
!reports/
!reports/contact-sheets/
reports/contact-sheets/*
!reports/contact-sheets/.gitkeep
predictions/*
!predictions/
!predictions/.gitkeep
models/
trained-models/*
!trained-models/.gitkeep
!labeled-dataset/
!labeled-dataset/**
